#mouse {
    width: 13.6rem;
    height: 2.8rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 2.5rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius_5);
    border: var(--border_1);
    display: flex;
    align-items: center;
    overflow: hidden;
}

#mouse .mouse_section {
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition_3);
}

#mouse .mouse_section .mouse_icon {
    font-size: 1.25rem;
    color: var(--text-accent-color);
}

#mouse .mouse_section:hover,
#mouse .mouse_section.active {
    background-color: var(--color-secondary);
}

#mouse .mouse_section:hover .mouse_icon,
#mouse .mouse_section.active .mouse_icon {
    color: var(--text-color);
}