/* #############
--> navbar
################# */
#navbar {
    width: var(--dashboard-navbar-width);
    height: var(--dashboard-navbar-hight);
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 .5rem;
    -webkit-app-region: drag;
    position: relative;
    z-index: 2;
}


/* -----> app icon */
#navbar .app_icon {
    width: 40px;
    height: 32px;
    background-color: var(--color-background);
    padding: 10.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius_5);
    transform: translateY(1px) translateX(-2px);
    z-index: 3;
}


/* -----> nternet index */
#navbar .internet_index {
    background-color: var(--color-background);
    padding: .35rem .8rem;
    border-radius: var(--border-radius_5);
    border: 1px solid var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#navbar .internet_index .circle {
    width: 7px;
    height: 7px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius_50);
}

#navbar .internet_index .circle.active {
    background-color: var(--text-color);
}

#navbar .internet_index span {
    color: var(--text-accent-color);
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 2px;
}

/* -----> screen size bar */
#navbar .screen_size_bar {
    width: 140px;
    height: 33px;
    background-color: var(--color-background);
    border-radius: var(--border-radius_5);
    border: 0.01rem solid var(--color-secondary);
    padding: .25rem .8rem;
    -webkit-app-region: no-drag;
}

#navbar .screen_size_bar .icon_section {
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius_5);
    transition: var(--transition_3);
}

#navbar .screen_size_bar .icon_section .device_icon {
    color: var(--text-accent-color);
    font-size: .9rem;
}

#navbar .screen_size_bar .icon_section.active,
#navbar .screen_size_bar .icon_section:hover {
    background-color: var(--color-secondary);
}

#navbar .screen_size_bar .icon_section.active .device_icon,
#navbar .screen_size_bar .icon_section:hover .device_icon {
    color: var(--text-color);
}

/* -----> page_name */
#navbar .page_name {
    min-width: auto;
    max-width: 15rem;
    background-color: var(--color-background);
    padding: .32rem .8rem;
    border-radius: var(--border-radius_5);
    border: 1px solid var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}

#navbar .page_name span {
    font-size: .8rem;
    font-weight: 500;

    color: var(--text-accent-color);
}

#navbar .page_name .name {
    background-color: var(--color-primary);
    padding: .1rem .4rem;
    border-radius: var(--border-radius_5);
}

/* -----> controlaer buttons */
#navbar .controlaer_buttons {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}

#navbar .controlaer_buttons .close,
#navbar .controlaer_buttons .maximize,
#navbar .controlaer_buttons .minimize {
    width: 3rem;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition_3);
}

#navbar .controlaer_buttons .con_icon {
    color: var(--text-color);
    font-size: 1.2rem;
}

#navbar .controlaer_buttons .maximize {
    transform: scaleX(-1);
}

#navbar .controlaer_buttons .minimize {
    padding-top: .68rem;
}

#navbar .controlaer_buttons .minimize .con_icon {
    font-size: 1.05rem;
}

#navbar .controlaer_buttons .close:hover {
    background-color: var(--color-red-transparent);
}

#navbar .controlaer_buttons .maximize:hover,
#navbar .controlaer_buttons .minimize:hover {
    background-color: var(--color-tertiary);
}

#navbar .controlaer_buttons .close:hover .con_icon,
#navbar .controlaer_buttons .maximize:hover .con_icon,
#navbar .controlaer_buttons .minimize:hover .con_icon {
    color: var(--text-color);
}