:root {
  /* view port size */
  /* 
    ---> dashboard
  */
  --dashboard-navbar-width: 100%;
  --dashboard-navbar-hight: 40px;

  --dashboard-menubar-width: 50px;
  --dashboard-menubar-hight: calc(100vh - (var(--dashboard-navbar-hight) + var(--dashboard-footer-hight)));

  --dashboard-pages-width: calc(100vw - var(--dashboard-menubar-width));

  --dashboard-footer-width: 100%;
  --dashboard-footer-hight: 25px;


  /* color */
  --brand-color: #f1a218;
  --color-background: #171717;
  --color-background-transparent: #17171791;
  --color-primary: #212121;
  --color-secondary: #303030;
  --color-tertiary: rgb(64, 64, 64);
  --color-tertiary-transparent: rgba(64, 64, 64, 0.91);
  --text-color: rgba(255, 255, 245, 0.86);
  --text-accent-color: #f6e7ce5e;
  --color-red-transparent: rgba(251, 74, 74, 0.686);

  /* border */
  --border_1: .1rem solid var(--color-secondary);

  /* border-radius */
  --border-radius_3: 3px;
  --border-radius_5: 5px;
  --border-radius_8: 8px;
  --border-radius_10: 10px;
  --border-radius_15: 15px;
  --border-radius_30: 30px;
  --border-radius_50: 50%;

  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #171717be;

  /* transition */
  --transition_2: .2s ease all;
  --transition_3: .3s ease all;
  --transition_4: .4s ease all;
}

[app-theme-color="white"] {
  /* color */
  --brand-color: #f1a218;
  --color-background: #f1f1f1;
  --color-background-transparent: #ffffff8e;
  --color-primary: #e6e5e5;
  --color-secondary: #D4D4D4;
  --color-tertiary: #bbbbbb;
  --color-tertiary-transparent: #bbbbbbd6;
  --text-color: #2B2B2B;
  --text-accent-color: #37332c5e;


  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #6d6c6c3f;

}

[app-theme-color="blue"] {
  /* color */
  --brand-color: #1984ef;
  --color-background: #1D1F21;
  --color-background-transparent: #1d1f218b;
  --color-primary: #202428;
  --color-secondary: #2d3238;
  --color-tertiary: #3d444c;
  --color-tertiary-transparent: #3d444cda;
  --text-color: #f6f9fce4;
  --text-accent-color: #d5e5f95e;


  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #1d1f21de;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  -webkit-user-drag: none;
}

body {
  user-select: none;
  background: var(--color-background);
  height: 100%;
  font-family: 'Segoe UI';
}


/* ::-webkit-scrollbar {
  width: 0px;
} */

@media (max-width: 720px) {}

@media (max-width: 620px) {}

@media (max-width: 350px) {}