:root {
  /* view port size */
  /* 
    ---> dashboard
  */
  --dashboard-navbar-width: 100%;
  --dashboard-navbar-hight: 40px;

  --dashboard-menubar-width: 50px;
  --dashboard-menubar-hight: calc(100vh - (var(--dashboard-navbar-hight) + var(--dashboard-footer-hight)));

  --dashboard-pages-width: calc(100vw - var(--dashboard-menubar-width));

  --dashboard-footer-width: 100%;
  --dashboard-footer-hight: 25px;


  /* color */
  --brand-color: #f1a218;
  --color-background: #171717;
  --color-background-transparent: #17171791;
  --color-primary: #212121;
  --color-secondary: #303030;
  --color-tertiary: rgb(64, 64, 64);
  --color-tertiary-transparent: rgba(64, 64, 64, 0.91);
  --text-color: rgba(255, 255, 245, 0.86);
  --text-accent-color: #f6e7ce5e;
  --color-red-transparent: rgba(251, 74, 74, 0.686);

  /* border */
  --border_1: .09rem solid var(--color-secondary);

  /* border-radius */
  --border-radius_3: 3px;
  --border-radius_5: 5px;
  --border-radius_8: 8px;
  --border-radius_10: 10px;
  --border-radius_15: 15px;
  --border-radius_30: 30px;
  --border-radius_50: 50%;

  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #171717be;

  /* transition */
  --transition_2: .2s ease all;
  --transition_3: .3s ease all;
  --transition_4: .4s ease all;
}

/* color theme */
[app-theme-color="white"] {
  /* color */
  --brand-color: #f1a218;
  --color-background: #f6f6f6;
  --color-background-transparent: #f6f6f68d;
  --color-primary: #d0d0d0;
  --color-secondary: #e1e1e1;
  --color-tertiary: #ececec;
  --color-tertiary-transparent: #ecececd7;
  --text-color: #2B2B2B;
  --text-accent-color: #37332c7e;


  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #6d6c6c3f;

}

[app-theme-color="blue"] {
  /* color */
  --brand-color: #1380ed;
  --color-background: #1D1F21;
  --color-background-transparent: #1d1f218b;
  --color-primary: #202428;
  --color-secondary: #2d3238;
  --color-tertiary: #3d444c;
  --color-tertiary-transparent: #3d444cda;
  --text-color: #f6f9fce4;
  --text-accent-color: #d5e5f95e;


  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #1d1f21de;

}

[app-theme-color="teal"] {
  /* color */
  --brand-color: #16dede;
  --color-background: #F8F6F4;
  --color-background-transparent: #f8f6f487;
  --color-primary: #C4DFDF;
  --color-secondary: #D2E9E9;
  --color-tertiary: #E3F4F4;
  --color-tertiary-transparent: #e3f4f4df;
  --text-color: #3d4242;
  --text-accent-color: #788787a8;


  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #96969166;

}

[app-theme-color="navy"] {
  /* color */
  --brand-color: #091f47;
  --color-background: #0A2647;
  --color-background-transparent: #0a26477c;
  --color-primary: #144272;
  --color-secondary: #205295;
  --color-tertiary: #2C74B3;
  --color-tertiary-transparent: #2c74b3db;
  --text-color: #f6f9fce4;
  --text-accent-color: #a4abb5a4;


  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #78808348;

}

[app-theme-color="retro"] {
  /* color */
  --brand-color: #ec426f;
  --color-background: #8D8DAA;
  --color-background-transparent: #8d8daa7e;
  --color-primary: #DFDFDE;
  --color-secondary: #F7F5F2;
  --color-tertiary: #F56D91;
  --color-tertiary-transparent: #f56d91dd;
  --text-color: #353637;
  --text-accent-color: #666678d0;


  /* box shadow */
  --dark-box-shadow: 3px 4px 7px #63676951;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  -webkit-user-drag: none;
}

body {
  user-select: none;
  background: var(--color-background);
  height: 100%;
  font-family: 'Segoe UI';
}


/* ::-webkit-scrollbar {
  width: 0px;
} */

@media (max-width: 720px) {}

@media (max-width: 620px) {}

@media (max-width: 350px) {}