/* #############
--> pages bar
################# */
:root {
    --pagesBar-bar_content-animation: none;
    --pagesBar-bar_content-navbar-car-close-icon-animation: none;
    --pagesBar-bar_content-navbar_card-layer_icon-font-size: 1.4rem;
    --pagesBar-bar_content-navbar_card-border: none;
}

[pages-bar="on"] {
    --pagesBar-bar_content-animation: pagesBarBarContent .3s ease forwards;
    --pagesBar-bar_content-navbar-car-close-icon-animation: pagesBarBarContentNavbarCardCloseIcon .3s ease forwards;
    --pagesBar-bar_content-navbar_card-layer_icon-font-size: 1.2rem;
    --pagesBar-bar_content-navbar_card-border: 1px solid var(--color-secondary);

}

[pages-bar="off"] {
    --pagesBar-bar_content-animation: pagesBarBarContentReverse .3s ease forwards;
    --pagesBar-bar_content-navbar-car-close-icon-animation: pagesBarBarContentNavbarCardCloseIconReverse .3s ease forwards;
    --pagesBar-bar_content-navbar_card-layer_icon-font-size: 1.4rem;
    --pagesBar-bar_content-navbar_card-border: none;

}

#pagesBar {
    position: fixed;
    z-index: 7;
    margin-left: 1.6rem;
    margin-top: 2.5rem;
    cursor: default;
}


/* ------> bar content */
#pagesBar .bar_content {
    width: 2.3rem;
    height: 100%;
    padding: 2px 0;
    background-color: var(--color-primary);
    border-radius: var(--border-radius_8);
    border: var(--border_1);
    animation: var(--pagesBar-bar_content-animation);
    transition: var(--transition_4);
}


/* ---->  navbar card*/
#pagesBar .bar_content .navbar_card {
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .4rem;
    border-bottom: var(--pagesBar-bar_content-navbar_card-border);
}

#pagesBar .bar_content .navbar_card .layer_icon {
    color: var(--text-accent-color);
    font-size: var(--pagesBar-bar_content-navbar_card-layer_icon-font-size);
    transition: var(--transition_2);
}

#pagesBar .bar_content .navbar_card .bar-name {
    color: var(--text-accent-color);
    font-weight: 500;
    font-size: .75rem;
    text-transform: capitalize;
    animation: pagesBarBarContentNavbarCardBarName .3s ease forwards;
}

#pagesBar .bar_content .navbar_card .close_icon {
    cursor: pointer;
    color: var(--text-accent-color);
    font-size: 1.2rem;
    animation: var(--pagesBar-bar_content-navbar-car-close-icon-animation);
    transition: var(--transition_2);
}

#pagesBar .bar_content .navbar_card .close_icon:hover {
    color: var(--text-color);
}

#pagesBar .bar_content .navbar_card.active {
    cursor: pointer;
}

#pagesBar .bar_content .navbar_card.active:hover .layer_icon {
    color: var(--text-color);
}


/* ---->  page layers*/
#pagesBar .bar_content .page_layers {
    width: 100%;
    max-height: calc(var(--dashboard-menubar-hight) - 7.15rem);
    overflow: auto;
    padding: 0px 3px;
}

#pagesBar .bar_content .page_layers .add_card,
#pagesBar .bar_content .page_layers .page_card {
    cursor: pointer;
    width: 96%;
    height: 7rem;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: var(--border-radius_5);
    animation: pagesBarBarContentPagelayersPageCard .2s ease-in forwards;
    transition: var(--transition_2);
}

#pagesBar .bar_content .page_layers .add_card {
    border: 2px dashed var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagesBar .bar_content .page_layers .add_card .add_icon {
    font-size: 1.6rem;
    color: var(--color-secondary);
}

#pagesBar .bar_content .page_layers .add_card:hover {
    border-color: var(--color-tertiary);
}

#pagesBar .bar_content .page_layers .add_card:hover .add_icon {
    color: var(--color-tertiary);
}


#pagesBar .bar_content .page_layers .page_card {
    background-color: var(--color-secondary);
}

#pagesBar .bar_content .page_layers .page_card:hover {
    transform: scale(1.01);
}

#pagesBar .bar_content .page_layers::-webkit-scrollbar {
    width: 0px;
}

/* #pagesBar .bar_content .page_layers::-webkit-scrollbar {
    width: 6px;
}

#pagesBar .bar_content .page_layers::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius_10);
}

#pagesBar .bar_content .page_layers::-webkit-scrollbar-button:single-button {
    background-color: transparent;
}

#pagesBar .bar_content .page_layers::-webkit-scrollbar-corner {
    display: none;
} */

/* #############
--> Animation
################# */
@keyframes pagesBarBarContent {
    from {
        width: 2.3rem;
    }

    to {
        width: 14rem;
    }
}

@keyframes pagesBarBarContentReverse {
    from {
        width: 14rem;
    }

    to {
        width: 2.3rem;
    }
}

@keyframes pagesBarBarContentNavbarCardBarName {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pagesBarBarContentNavbarCardCloseIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes pagesBarBarContentNavbarCardCloseIconReverse {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes pagesBarBarContentPagelayersPageCard {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}