/*###########
--> New
############# */
#New {
    width: 3.7rem;
    height: 3rem;
    position: fixed;
    bottom: 3.5%;
    right: 3.5%;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius_8);
    box-shadow: var(--dark-box-shadow);
    cursor: pointer;
    transition: var(--transition_2);
}

#New .add_icon {
    font-size: 1.8rem;
    color: var(--text-accent-color);
}

#New:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-tertiary);
}

#New:hover .add_icon {
    color: var(--text-color);
}