/* #############
--> Setting
################# */
#Setting {
    animation: var(--page-start-anymation)
}

#Setting .topic_section .topic_name span {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .5px;
    color: var(--text-color);
    text-transform: capitalize;
}

#Setting .topic_section .row {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius_5);
}

#Setting .row {
    padding: .8rem;
}

/* ======== account section ======== */
#Setting .account .img_box {
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--color-tertiary);
    border-radius: var(--border-radius_50);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#Setting .account .img_box .user_img {
    font-size: 2.1rem;
    color: var(--text-color);
    opacity: .3;
}

#Setting .account .user_data_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

#Setting .account .user_data_box .user_name {
    font-size: .9rem;
    color: var(--text-color);
    font-weight: 500;
}

#Setting .account .edit_button {
    width: 6.8rem;
    height: 2.5rem;
    background-color: var(--color-tertiary);
    border-radius: var(--border-radius_5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

#Setting .account .edit_button .edit_icon {
    font-size: 1.05rem;
    color: var(--text-color);
}

#Setting .account .edit_button span {
    font-size: .85rem;
    letter-spacing: .5px;
    color: var(--text-color);
    text-transform: capitalize;
}

#Setting .account .edit_button.checked,
#Setting .account .edit_button:hover {
    opacity: .8;
}

/*----> account_edit_section*/
:root {
    --account-edit-section-height: 0;

    /* form-box */
    --account-edit-section-form-box-transform: translateY(-100%);
    --account-edit-section-form-box-opacity: 0;
}

[account-edit-section="on"] {
    --account-edit-section-height: 9rem;

    /* form-box */
    --account-edit-section-form-box-transform: translateY(0);
    --account-edit-section-form-box-opacity: 1;
}

#Setting .account .account_edit_section {
    height: var(--account-edit-section-height);
    overflow: hidden;
    transition: var(--transition_4);
}

#Setting .account .account_edit_section .form_box {
    width: 100%;
    height: 100%;
    transform: var(--account-edit-section-form-box-transform);
    background-color: var(--color-tertiary);
    border-radius: 0 0 var(--border-radius_8) var(--border-radius_8);
    transition: var(--transition_4);
    transition-delay: .1s;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: var(--account-edit-section-form-box-opacity);
    overflow: hidden;
}

#Setting .account .account_edit_section .form_box .user_img_box {
    width: 5.2rem;
    height: 5.2rem;
    position: relative;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius_50);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--text-accent-color);
}

#Setting .account .account_edit_section .form_box .user_img_box .add_layer {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--color-background-transparent);
    transition: var(--transition_3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Setting .account .account_edit_section .form_box .user_img_box .add_layer .add_icon {
    font-size: 1.9rem;
    color: var(--text-color);
}

#Setting .account .account_edit_section .form_box .user_img_box:hover .add_layer {
    opacity: 1;
}

#Setting .account .account_edit_section .form_box .user_img_box .user_icon {
    font-size: 2.2rem;
    color: var(--text-color);
    opacity: .3;
}


#Setting .account .account_edit_section .form_box .user_name_box {
    width: 12rem;
    height: 2.3rem;
}

#Setting .account .account_edit_section .form_box .user_name_box input {
    all: unset;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    padding: 0 .5rem;
    box-sizing: border-box;
    font-size: .8rem;
    border-radius: var(--border-radius_5);
    transition: var(--transition_2);
}

#Setting .account .account_edit_section .form_box .user_name_box input::placeholder {
    opacity: .7;
    font-size: .8rem;
    color: var(--text-accent-color);
}

#Setting .account .account_edit_section .form_box .submit_button {
    width: 5rem;
    height: 2.2rem;
    margin: 0 auto;
    margin-right: 0;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius_5);
    cursor: pointer;
    transition: var(--transition_2);
    opacity: .9;
}

#Setting .account .account_edit_section .form_box .submit_button .save_icon {
    color: var(--text-color);
    font-size: .8;
}

#Setting .account .account_edit_section .form_box .submit_button span {
    color: var(--text-color);
    font-size: .8rem;
    text-transform: capitalize;
}

#Setting .account .account_edit_section .form_box .submit_button:hover {
    opacity: .7;
}

/* ======== gemeral section ======== */
#Setting .color_theme .section_icon {
    font-size: 1.2rem;
    color: var(--text-color);
}

#Setting .color_theme .section_data span {
    display: block;
    color: var(--text-color);
}

#Setting .color_theme .section_data .main_title {
    font-size: .8rem;
    text-transform: capitalize;
}

#Setting .color_theme .drop_down_button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#Setting .color_theme .drop_down_button .theme_name {
    color: var(--text-color);
    font-size: .8rem;
    opacity: .9;
    text-transform: capitalize;
}

#Setting .color_theme .drop_down_button .down_icon {
    color: var(--text-color);
    transition: var(--transition_3);
}

#Setting .color_theme .drop_down_button .down_icon.rotate {
    transform: rotate(180deg);
}

/*----> color_theme_section*/
:root {
    --theme_color_section-max-height: 0;

    /* form-box */
    --theme_color_section-checkboxs_section-transform: translateY(-100%);
    --theme_color_section-checkboxs_section-opacity: 0;
}

[theme-color-section="on"] {
    --theme_color_section-max-height: 9rem;

    /* form-box */
    --theme_color_section-checkboxs_section-transform: translateY(0);
    --theme_color_section-checkboxs_section-opacity: 1;
}

#Setting .color_theme .theme_color_section {
    max-height: var(--theme_color_section-max-height);
    overflow: hidden;
    transition: var(--transition_4);
}

#Setting .color_theme .theme_color_section .checkboxs_section {
    width: 100%;
    height: 100%;
    transform: var(--theme_color_section-checkboxs_section-transform);
    background-color: var(--color-tertiary);
    border-radius: 0 0 var(--border-radius_8) var(--border-radius_8);
    transition: var(--transition_4);
    padding: .3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: var(--theme_color_section-checkboxs_section-opacity);
    overflow: hidden;
}

#Setting .color_theme .theme_color_section .checkboxs_section .theme_color_option {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin: .5rem 0;
    padding-left: 10%;
}

#Setting .color_theme .theme_color_section .checkboxs_section .theme_color_option input[type="checkbox"] {
    all: unset;
    width: 10.5px;
    height: 10px;
    border: 2px solid var(--text-color);
    appearance: none;
    border-radius: var(--border-radius_3);
    position: relative;
    cursor: pointer;
    opacity: .3;
    margin: .1rem 0 0 0;
}

#Setting .color_theme .theme_color_section .checkboxs_section .theme_color_option input[type="checkbox"]:checked {
    background-color: var(--color-tertiary);
}

#Setting .color_theme .theme_color_section .checkboxs_section .theme_color_option input[type="checkbox"]:checked::after {
    content: '\2713';
    color: var(--text-color);
    font-size: 8.5px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateY(3%);
}

#Setting .color_theme .theme_color_section .checkboxs_section .theme_color_option span {
    color: var(--text-color);
    opacity: .8;
    font-size: .8rem;
    font-weight: 400;
    text-transform: capitalize;
}

/* ======== about section ======== */
#Setting .about .section_icon {
    font-size: 1.2rem;
    color: var(--text-color);
}

#Setting .about .logo_section {
    width: 1.2rem;
    opacity: .95;
    position: relative;
}

#Setting .about .logo_section .resizable-path {
    fill: var(--text-color);
}

#Setting .about .logo_section .fire_section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#Setting .about .logo_section .fire_section .resizable-fire {
    stroke: none;
    fill-rule: nonzero;
    fill: var(--brand-color);
    fill-opacity: 1;
}

#Setting .about .section_data span {
    display: block;
    color: var(--text-color);
}

#Setting .about .section_data .main_title {
    font-size: .8rem;
    text-transform: capitalize;
}

#Setting .about .section_data .sub_link {
    all: unset;
    cursor: pointer;
    color: var(--text-color);
    opacity: .8;
    font-size: .6rem;
}

#Setting .about .version_section span {
    color: var(--text-color);
    opacity: .8;
    font-size: .85rem;
    margin: 0 .05rem;
    /* background-color: var(--color-primary);
    border-radius: var(--border-radius_5);
    padding: .2rem .6rem; */
}

#Setting .about .update_button {
    width: 6.8rem;
    height: 2.2rem;
    background-color: var(--color-tertiary);
    border-radius: var(--border-radius_5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

#Setting .about .update_button .button_icon {
    font-size: 1rem;
    color: var(--text-color);
}

#Setting .about .update_button span {
    font-size: .8rem;
    letter-spacing: .5px;
    color: var(--text-color);
    text-transform: capitalize;
}

#Setting .about .update_button:hover {
    opacity: .8;
}