/* #############
--> Window
################# */
:root {
    --page-start-anymation: pageApprrFromDown .2s ease;
}

#Window {
    width: 100%;
    height: calc(100vh - 40px);
    background-color: var(--color-primary);
    overflow: auto;
    padding: .5rem .8rem;
}


#Window::-webkit-scrollbar {
    width: 0px;
}

/* #Window::-webkit-scrollbar {
    width: 8px;
}

#Window::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
    border: 3px solid var(--color-primary);
    border-radius: var(--border-radius_10);
}

#Window::-webkit-scrollbar-button:single-button {
    background-color: transparent;
}

#Window::-webkit-scrollbar-corner {
    display: none;
} */

/* ======== anymayion ======= */
@keyframes pageApprrFromDown {
    from {
        transform: translateY(5%);
    }

    to {
        transform: translateY(0);
    }
}