/* #############
--> App Form
################# */
#AppForm {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-background-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#AppForm form {
    width: 20rem;
    height: 22rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius_10);
    border: 1px solid var(--color-secondary);
    animation: newCarduP .3s ease;
    padding: .3rem .4rem;
}

/* 
-----> inbut section 
*/
#AppForm .inbut_section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
}

#AppForm .inbut_section .inbut_box {
    width: 18rem;
    height: 2.3rem;
    display: flex;
    gap: .9rem;
}

#AppForm .inbut_section .error_message {
    width: 12rem;
    height: 3rem;
    background-color: var(--color-secondary);
    position: absolute;
    top: 0;
    margin-top: -.1rem;
    padding: 0 .9rem;
    border-radius: var(--border-radius_30) var(--border-radius_30) var(--border-radius_5) var(--border-radius_30);
    border: 1px solid var(--color-tertiary);
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
}

#AppForm .inbut_section .error_message.on {
    display: flex;
    animation: onErrorMessake .5s ease;
}

#AppForm .inbut_section .error_message .triangle_left {
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-top: 6px solid var(--color-tertiary);
    border-left: 4px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -.4rem;
    margin-right: .08rem;
}

#AppForm .inbut_section .error_message span {
    font-size: .7rem;
    color: var(--text-color);
}

@keyframes onErrorMessake {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



#AppForm .inbut_section .inbut_box input {
    all: unset;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius_5);
    background-color: var(--color-secondary);
    color: var(--text-color);
    font-size: .87rem;
    padding: 0rem .5rem;
    box-sizing: border-box;
    transition: var(--transition_2);
}

#AppForm .inbut_section .inbut_box input::placeholder {
    font-size: .85rem;
    opacity: .6;
}

#AppForm .inbut_section .inbut_box .drop_down_section {
    position: relative;
}

#AppForm .inbut_section .inbut_box .drop_down_section .up_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    padding-right: .5rem;
    border-radius: var(--border-radius_5);
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    transition: var(--transition_2);
}

#AppForm .inbut_section .inbut_box .drop_down_section .up_layer .down_icon {
    font-size: .8rem;
    color: var(--text-color);
    transition: var(--transition_2);
}

#AppForm .inbut_section .inbut_box .drop_down_section .up_layer .down_icon.reverse {
    transform: rotate(180deg);
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu {
    display: none;
    width: 100%;
    min-height: 2rem;
    max-height: 5rem;
    overflow: auto;
    background-color: var(--color-tertiary);
    position: absolute;
    margin-top: .3rem;
    z-index: 3;
    border-radius: var(--border-radius_5);
    border: 1px solid var(--text-accent-color);
    padding: 3px 4px 3px 10px;
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu .inbut_item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: .5rem 0;
    cursor: pointer;
    transition: var(--transition_2);
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu .inbut_item:hover {
    opacity: .6;
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu .inbut_item .fram_icon {
    font-size: 1.1rem;
    color: var(--text-accent-color);
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu .inbut_item .box_color {
    width: 8px;
    height: 8px;
    border-radius: var(--border-radius_3);
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu .inbut_item span {
    font-size: .85rem;
    color: var(--text-color);
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu::-webkit-scrollbar {
    width: 5px;
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius_10);
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu::-webkit-scrollbar-button:single-button {
    background-color: transparent;
}

#AppForm .inbut_section .inbut_box .drop_down_section .drop_down_menu::-webkit-scrollbar-corner {
    display: none;
}

#AppForm .inbut_section .inbut_box .numper_section {
    width: 45%;
    height: 100%;
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius_5);
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: var(--transition_2);
}

#AppForm .inbut_section .inbut_box .numper_section>span {
    color: var(--text-color);
    font-size: .9rem;
}

#AppForm .inbut_section .inbut_box .numper_section .spinner {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: var(--border-radius_5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#AppForm .inbut_section .inbut_box .numper_section .spinner span {
    color: var(--text-color);
    font-size: 1.1rem;
    margin-bottom: .2rem;
}

#AppForm .inbut_section .inbut_box .numper_section .spinner:hover {
    background-color: var(--color-tertiary);
}

#AppForm .inbut_section .inbut_box input:hover,
#AppForm .inbut_section .inbut_box input:focus,
#AppForm .inbut_section .inbut_box .drop_down_section .up_layer:hover,
#AppForm .inbut_section .inbut_box .numper_section:hover {
    border: 1px solid var(--text-accent-color);
}

/* 
-----> buttons section 
*/
#AppForm .buttons_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#AppForm .buttons_section .submit_but,
#AppForm .buttons_section .cancel_but {
    width: 7rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    border-radius: var(--border-radius_5);
    cursor: pointer;
    border: 1px solid var(--color-tertiary);
    transition: var(--transition_2);
}

#AppForm .buttons_section .submit_but {
    background-color: var(--text-color);
}

#AppForm .buttons_section .cancel_but {
    background-color: var(--color-secondary);
}

#AppForm .buttons_section .submit_but span,
#AppForm .buttons_section .cancel_but span {
    text-transform: capitalize;
    font-weight: 500;
    font-size: .9rem;
}

#AppForm .buttons_section .submit_but span {
    color: var(--color-primary);
}

#AppForm .buttons_section .cancel_but span {
    color: var(--text-color);
}

#AppForm .buttons_section .submit_but .button_icon,
#AppForm .buttons_section .cancel_but .button_icon {
    font-size: 1.1rem;
}

#AppForm .buttons_section .submit_but .button_icon {
    color: var(--color-primary);
}

#AppForm .buttons_section .cancel_but .button_icon {
    color: var(--text-color);
}

#AppForm .buttons_section .submit_but:hover,
#AppForm .buttons_section .cancel_but:hover {
    opacity: .8;
}



/* ======== anymation ======== */
@keyframes newCarduP {
    from {
        opacity: .8;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}