/* #############
--> propertiesPanel
################# */
#propertiesPanel {
    width: 14rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1.5rem;
    padding-top: 1rem;
}

.panel_card {
    width: 100%;
    height: calc(var(--dashboard-menubar-hight) - 5rem);
    background-color: var(--color-primary);
    border-radius: var(--border-radius_5);
    border: var(--border_1);
}