/* #############
--> components Bar
################# */
:root {
    --componentsBar-bar_content-animation: none;
    --componentsBar-bar_content-navbar-car-close-icon-animation: none;
    --componentsBar-bar_content-navbar_card-layer_icon-font-size: 1.2rem;
    --componentsBar-bar_content-navbar_card-border: none;
}

[components-bar="on"] {
    --componentsBar-bar_content-animation: componentsBarBarContent .3s ease forwards;
    --componentsBar-bar_content-navbar-car-close-icon-animation: componentsBarBarContentNavbarCardCloseIcon .3s ease forwards;
    --componentsBar-bar_content-navbar_card-layer_icon-font-size: 1rem;
    --componentsBar-bar_content-navbar_card-border: 1px solid var(--color-secondary);

}

[components-bar="off"] {
    --componentsBar-bar_content-animation: componentsBarBarContentReverse .3s ease forwards;
    --componentsBar-bar_content-navbar-car-close-icon-animation: componentsBarBarContentNavbarCardCloseIconReverse .3s ease forwards;
    --componentsBar-bar_content-navbar_card-layer_icon-font-size: 1.2rem;
    --componentsBar-bar_content-navbar_card-border: none;

}

#componentsBar {
    position: absolute;
    top: 0;
    left: 2.2%;
    transform: translate(-2.2%, 0);
    margin-top: 6rem;
    z-index: 40;
    cursor: default;
}


/* ------> bar content */
#componentsBar .bar_content {
    width: 2.3rem;
    height: 100%;
    padding: 2px 0;
    background-color: var(--color-primary);
    border-radius: var(--border-radius_8);
    border: var(--border_1);
    animation: var(--componentsBar-bar_content-animation);
    transition: var(--transition_4);
}


/* ---->  navbar card*/
#componentsBar .bar_content .navbar_card {
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .4rem;
    border-bottom: var(--componentsBar-bar_content-navbar_card-border);
}

#componentsBar .bar_content .navbar_card .layer_icon {
    color: var(--text-accent-color);
    font-size: var(--componentsBar-bar_content-navbar_card-layer_icon-font-size);
    transition: var(--transition_2);
    margin-left: .1rem;
}

#componentsBar .bar_content .navbar_card .bar-name {
    color: var(--text-accent-color);
    font-weight: 500;
    font-size: .75rem;
    text-transform: capitalize;
    animation: componentsBarBarContentNavbarCardBarName .3s ease forwards;
}

#componentsBar .bar_content .navbar_card .close_icon {
    cursor: pointer;
    color: var(--text-accent-color);
    font-size: 1.2rem;
    animation: var(--componentsBar-bar_content-navbar-car-close-icon-animation);
    transition: var(--transition_2);
}

#componentsBar .bar_content .navbar_card .close_icon:hover {
    color: var(--text-color);
}

#componentsBar .bar_content .navbar_card.active {
    cursor: pointer;
}

#componentsBar .bar_content .navbar_card.active:hover .layer_icon {
    color: var(--text-color);
}


/* ---->  page layers*/
#componentsBar .bar_content .component_layers {
    width: 100%;
    max-height: calc(var(--dashboard-menubar-hight) - 10.6rem);
    overflow: auto;
    padding: 0rem 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#componentsBar .bar_content .component_layers.mt-spec {
    margin-top: .14rem;
}

#componentsBar .bar_content .component_layers .add_card,
#componentsBar .bar_content .component_layers .component_card,
#componentsBar .bar_content .component_layers .component_card_button {
    width: 47.75%;
    height: 7rem;
    margin-top: .15rem;
    margin-bottom: .15rem;
    border-radius: var(--border-radius_5);
    animation: componentsBarBarContentPagelayersPageCard .2s ease-in forwards;
}

/* -----> add card */
#componentsBar .bar_content .component_layers .add_card {
    cursor: pointer;
    position: relative;
    border: 2px dashed var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#componentsBar .bar_content .component_layers .add_card.full_width {
    width: 96%;
}

#componentsBar .bar_content .component_layers .add_card .add_icon {
    font-size: 1.2rem;
    color: var(--color-secondary);
    transition: var(--transition_2);
}

#componentsBar .bar_content .component_layers .add_card .plus_icon {
    font-size: .7rem;
    color: var(--color-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(.65rem) translateY(-.7rem);
}

#componentsBar .bar_content .component_layers .add_card:hover {
    border-color: var(--color-tertiary);
}

#componentsBar .bar_content .component_layers .add_card:hover .add_icon,
#componentsBar .bar_content .component_layers .add_card:hover .plus_icon {
    color: var(--color-tertiary);
}

#componentsBar .bar_content .component_layers::-webkit-scrollbar {
    width: 0px;
}


/* -----> component card button */
#componentsBar .bar_content .component_layers .component_card_button {
    cursor: pointer;
    background-color: var(--color-tertiary);
    transition: var(--transition_2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    opacity: .9 !important;
}

#componentsBar .bar_content .component_layers .component_card_button .button_icon {
    color: var(--text-accent-color);
    font-size: 1.2rem;
}

#componentsBar .bar_content .component_layers .component_card_button span {
    color: var(--text-accent-color);
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: .5px;
}

#componentsBar .bar_content .component_layers .component_card_button:hover {
    opacity: .7 !important;
}


/* -----> component card */
#componentsBar .bar_content .component_layers .component_card {
    position: relative;
    background-color: var(--color-secondary);
    overflow: hidden;
    transition: var(--transition_2);
}

#componentsBar .bar_content .component_layers .component_card .up_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background-color: var(--color-tertiary);
    transition: var(--transition_3);
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: .5rem;
}

#componentsBar .bar_content .component_layers .component_card:hover .up_layer {
    opacity: .7;
}

#componentsBar .bar_content .component_layers .component_card .up_layer .circle_layer {
    cursor: pointer;
    width: 80%;
    height: 4.2rem;
    position: relative;
    z-index: 2;
    border: 1px dashed var(--text-accent-color);
    border-radius: var(--border-radius_5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-accent-color);
    font-size: 1.6rem;
    transition: var(--transition_3);
}

#componentsBar .bar_content .component_layers .component_card .up_layer .circle_layer:hover {
    border-color: var(--text-color);
    color: var(--text-color);
}

#componentsBar .bar_content .component_layers .component_card .up_layer .edit_icon,
#componentsBar .bar_content .component_layers .component_card .up_layer .delet_icon {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition_3);
    color: var(--text-accent-color);
    font-size: 1rem;
}

#componentsBar .bar_content .component_layers .component_card .up_layer .edit_icon {
    top: 0%;
    left: 0%;
}

#componentsBar .bar_content .component_layers .component_card .up_layer .delet_icon {
    top: 0%;
    right: 0%;
}

#componentsBar .bar_content .component_layers .component_card .up_layer .edit_icon:hover {
    color: var(--text-color);
    background-color: var(--text-accent-color);
    border-radius: 0 0 var(--border-radius_5) 0;
}

#componentsBar .bar_content .component_layers .component_card .up_layer .delet_icon:hover {
    color: var(--text-color);
    background-color: var(--color-red-transparent);
    border-radius: 0 0 0 var(--border-radius_5);
}

/* #############
--> Animation
################# */
@keyframes componentsBarBarContent {
    from {
        width: 2.3rem;
    }

    to {
        width: 14rem;
    }
}

@keyframes componentsBarBarContentReverse {
    from {
        width: 14rem;
    }

    to {
        width: 2.3rem;
    }
}

@keyframes componentsBarBarContentNavbarCardBarName {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes componentsBarBarContentNavbarCardCloseIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes componentsBarBarContentNavbarCardCloseIconReverse {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes componentsBarBarContentPagelayersPageCard {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}